body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: rgb(9, 2, 20);
line-height: 1.6;
}
header {
background: rgb(188, 2, 2);
color: white;
padding: 15px 20px;
text-align: center;
}

header h1 {
margin: 0;
color: white;
}

nav {
  margin-top: 10px;
}
nav a {
  color: rgb(67, 223, 6);
  margin:0 15px;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}
.hero {
  text-align: center;
  padding: 40px 20px;
  background: transparent;
  color: white;
}
.hero img{
align-items: center;
width: 25%;
height: 250px;
border-radius: 10px;
}
 h2 {
color: green;
text-align: center;
}

h3 {
    color: rgb(237, 235, 243);
    font-size: 35px;
    text-align: center;
}
p {
    text-align: center;
    font-size: 15px;
    text-decoration: wavy;
    color: gray;
    font-family:  Helvetica;
    opacity: 84;
}
.slideshow-container {
  width: 80%;
  max-width: 750px;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.6s ease-in-out;
  height: 300px;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 25px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.left { left: 10px; }
.right { right: 10px; }

.dots {
  text-align: center;
  margin: 10px 0;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 4px;
  background: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background: #333;
}

 
.container {
    display: flex;
    gap: 20px;
}
.left-section, .right-section {
    flex: 1;
    background-color: rgb(184, 2, 2);
    padding: 20px;
    border-radius: 4px;
    background: linear-gradient(135deg,#960a0a);
    color: #08fa5d;

}

.gallery {
  background: #0f0f0f;
  text-align: center;
  color: #1db954;
}

.title{
  margin: 20px 0;
}
.gallery-track{
  width: 80%;
  height: 250px;
  margin: auto;
  border: 2px solid #8b0000;
  background: #000;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.gallery-item {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
  scroll-snap-align: start;
}
.site-footer {
  background: #920303;
  padding: 10px 10px;
  text-align: center;
}

.footer-container {
  max-width: 800px;
  margin: 0 auto;
}

.footer-logo {
  width: 300px;
  margin-bottom: 0.8rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.footer-logo:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.footer-copy {
  color: #aaa;
  font-size: 0.85rem;
}